In [67]:
# List comprehension is a way to write a code line in a single line
# whenever we use for loops and if conditions the time will be increased
# list comprehension will able to write for loop and if condition in a single line
# which reduce the time to get the output

In [68]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [69]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Method-1: Only for loop**

In [70]:
# list1=[<code here>]
# list1=[<output> <for loop>]
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
l1=['hyd','chennai','mumbai','pune']
l2=[i[0].capitalize()+i[1:] for i in l1]
l2

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [72]:
l1=['hyd','chennai','mumbai','pune']
l2=[i[0:].upper() for i in l1]
l2

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [73]:
l1=['hyd','chennai','mumbai','pune']
l2=[l1.index(i)*10 for i in l1]
l2

[0, 10, 20, 30]

In [74]:
# l1=['hyd','chennai','mumbai','pune']
# summ=0
# l2=[summ+i for i in l1]
# l2

**Method-2**
- for loop with if condition

In [75]:
# [<output> <for loop>]
# [<output> <for loop> <if condition>]

In [76]:
l1=['hyd','chennai','mum#ai','p#ne']
l2=[i for i in l1 if '#' in i]
l2

['mum#ai', 'p#ne']

In [77]:
l1=['hyd','chennai','mum#ai','p#ne']
l2=[i for i in l1 if '#' not in i]
l2

['hyd', 'chennai']

In [78]:
l1=[100,20,27,38,47,52,87]
even=[i for i in l1 if i%2==0]
even

[100, 20, 38, 52]

In [79]:
l1=[100,20,27,38,47,52,87]
odd=[i for i in l1 if i%2!=0]
odd

[27, 47, 87]

**Method-3: for loop -if-else**

In [80]:
#method-3: [<if output> <if condition> else <else output> <for loop>]

In [81]:
l1=[100,20,27,38,47,52,87]
l2=[f'even :{i}' if i%2==0 else f'odd :{i}' for i in l1]
l2

['even :100',
 'even :20',
 'odd :27',
 'even :38',
 'odd :47',
 'even :52',
 'odd :87']

In [82]:
l=[45,76,89,53,67,90,82,49,33,99]
#filter the students who passed marks >= 50
#calculate grade of all stud 
# A: 85+, B: 70-84 ,C: 50-69 D:<50
#Add 5 grace to stud who failed <50
#find the average marks of the class

In [86]:
l = [45, 76, 89, 53, 67, 90, 82, 49, 33, 99]
passed_stud = [i for i in l if i >= 50]
grade = []
for i in l:
    if i >= 85:
        grade.append('A')
    elif i >= 70:
        grade.append('B')
    elif i >= 50:
        grade.append('C')
    else:
        grade.append('D')
update = [i + 5 if i < 50 else i for i in l]
total_marks=sum(l)
average = total_marks / len(l)
print("Passed Students:", passed_stud)
print("Grades:", grade)
print("Updated Marks with Grace:", update)
print("Average Marks:", average)

TypeError: 'int' object is not callable

**Method-4: for if elif else**
- there is no elif in list comprehension
- elif we can write : else+if
- method-3:[<if output> <if cond> else <elseoutput>]
- method-4: [<if output> <if cond> else <elif out> <elif condition> else <elseoutput> <for loop>]

**walrus operator**
- in list comprehension = will not work
- if you want to write equal to (=), then will use walrus operator:=

In [85]:
summ=0
[summ:=summ+i for i in l]

[45, 121, 210, 263, 330, 420, 502, 551, 584, 683]

In [87]:
total=0
ans=[total:=total+i for i in l]
total/len(ans)

68.3