In [1]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
for i in range(len(l1)):
    print(l1[i],l2[i])

Ramesh 20
Suresh 30
Sathish 40

## ZIP

In [3]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
l3=['Hyd','Mumbai','Chennai']
for i,j,k in zip(l1,l2,l3):
    print(i,j,k)

Ramesh 20 Hyd
Suresh 30 Mumbai
Sathish 40 Chennai

## Dictionary
- strings represents in quotes
- list represented in square brackets
- tuple represented in parenthases
- sets represent in curly braces with only one value 
- Dictionary also represents in curly braces with two values 
- Dictionary has key:value pair
- Dictionary elements are in pair
    - one element called as key
    - another element called as value

l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
{key:value}
{key1:value1,key2:value2,key3:value3}

In [5]:
dict1={'Ramesh':20,'Suresh':30,'Satish':40}
dict1

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

In [6]:
type(dict1)

dict

In [ ]:
- initialization
- inbuilt function
    - max
    - min
    - len
    - sum
    - sorted
    - slicing
    - methods

In [7]:
dict1={20:'Ramesh',30:'Suresh'}
dict1

{20: 'Ramesh', 30: 'Suresh'}

In [10]:
dict1={'Ramesh':'20','Suresh':'30','Satish':'40'}
dict1

{'Ramesh': '20', 'Suresh': '30', 'Satish': '40'}

In [11]:
dict1={'Ramesh':20,'Suresh':30,40:'Satish'}
dict1

{'Ramesh': 20, 'Suresh': 30, 40: 'Satish'}

In [13]:
dict1={'Ramesh':20,'Ramesh':30}
dict1
#keys are important
#when same keys but different value
#it will take the latest value

{'Ramesh': 30}

In [15]:
d5={'Ramesh':20,'Suresh':20}
d5

{'Ramesh': 20, 'Suresh': 20}

In [16]:
d6={'Ramesh':20,'Ramesh':20}
d6

{'Ramesh': 20}

In [17]:
d7={'Fruit':'Apple','Cost':10.5,'Count':100,'ava':True}
d7

{'Fruit': 'Apple', 'Cost': 10.5, 'Count': 100, 'ava': True}

In [18]:
d8={True:'Yes'}
d8

{True: 'Yes'}

In [19]:
d9={'age':[10,20,30]}
d9
# list can be a value

{'age': [10, 20, 30]}

In [21]:
d10={[10,20,30]:'age'}
d10

TypeError: unhashable type: 'list'

In [22]:
d11={'age':(10,20,30)}
d11

{'age': (10, 20, 30)}

In [23]:
d10={(10,20,30):'age'}
d10

{(10, 20, 30): 'age'}

- list is mutable 
- tuple is immutable 
- so list cannot be a key
- **keys are important**

In [25]:
d13={(10,20,30):['A','B','C']}
d13

{(10, 20, 30): ['A', 'B', 'C']}

In [26]:
d14={['A','B','C']:(10,20,30)}
d14

TypeError: unhashable type: 'list'

In [28]:
dict1={'Ramesh':20,'Suresh':30,'Satish':40}
max(dict1)

'Suresh'

In [29]:
dict1={'Ramesh':20,'Suresh':30,'Satish':40}
min(dict1)

'Ramesh'

In [30]:
dict1={'Ramesh':20,'Suresh':30,'Satish':40}
len(dict1)

3

In [31]:
dict1={'Ramesh':20,'Suresh':30,'Satish':40}
sorted(dict1)

['Ramesh', 'Satish', 'Suresh']

In [34]:
dict1={'Ramesh':20,'Suresh':30,'Satish':40}
list(reversed(dict1.keys()))

['Satish', 'Suresh', 'Ramesh']

In [39]:
dict1={'Ramesh':20,'Suresh':30,'Satish':40}
list(reversed(dict1))

['Satish', 'Suresh', 'Ramesh']

In [37]:
dict1={'Ramesh':20,'Suresh':30,'Satish':40}
sum(dict1.values())

90

In [41]:
dict1={'Ramesh':20,'Suresh':30,40:'Satish'}
list(reversed(dict1))

[40, 'Suresh', 'Ramesh']

- Max/Min/sorted can work for homogenous
- sum is only work for number only
- reversed can work anyone

## Index

In [42]:
l=[10,20,30]
l[0]

10

In [43]:
s='python'
s[0]

'p'

In [45]:
dict1={'Ramesh':20,'Suresh':30}
dict1[0]

KeyError: 0

In [47]:
dict1['Ramesh']

20

In [51]:
di1={'Ramesh':20,'Suresh':30}
di1['Ramesh']
di1['Suresh']

30

In [52]:
d1={'Ramesh':20,'Suresh':30}
for i in d1:
    print(i,d1[i])

Ramesh 20
Suresh 30

- whenever we iterate dictionary using for loop in operator it will give keys
- if want to get value we will access through keys only
- keys will work as index

In [54]:
d1={'Fruits':['Apple','Banana','Cherry']}
d1['Fruits'][2]

'Cherry'

In [56]:
d1={'Fruites':{'Apple':['Sweet','Green','custred']}}
d1['Fruites']['Apple'][1]

'Green'

In [58]:
d1={'Fruites':[{'Cost':[100,200,300]}]}
d1['Fruites'][0]['Cost'][2]

300

In [64]:
d1={'Fruites':['Apple'],'Cost':[{'1kg':[300,500],'2kg':['None']}]}
d1['Cost'][0]['2kg'][0]

'None'

In [72]:
d1={'Fruites':{'Mango':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d1['Fruites']['Mango']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

**how to convert list to dictionary**

In [5]:
name=['Ramesh','Suresh','Satish']
age=[20,30,40]
dict1={}
dict1['Ramesh']=20
dict1['Suresh']=30
dict1['Satish']=40
for i,j in zip(name,age):
    dict1[i]=j
dict1

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

**how to convert dictionary to list**

In [ ]:
#string to lst
# lst to string 
# lst to dict
# dict to lst

In [27]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])
keys,values

(['Ramesh', 'Suresh', 'Satish'], [20, 30, 40])

In [22]:
name=['Ramesh','Suresh','Satish']
age=[20,30,40]
{i:j for i,j in zip(name,age)}

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

**mutable immutable**
- list are mutable
- strings are immutable
- tuple are immutable
- dictionary also mutable we can modify the value of a dictionary

In [28]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d['Ramesh']=40
d

{'Ramesh': 40, 'Suresh': 30, 'Satish': 40}

- dictionary is similar to database operatios
- keys always unique but values can be change

**concatenation**

In [29]:
d1={'Ramesh':20}
d2={'Fruit':'Apple'}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

**items-values-keys**

In [30]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.items()

dict_items([('Ramesh', 20), ('Suresh', 30), ('Satish', 40)])

In [31]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.values()

dict_values([20, 30, 40])

In [32]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.keys()

dict_keys(['Ramesh', 'Suresh', 'Satish'])

In [33]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=d.keys()
keys

dict_keys(['Ramesh', 'Suresh', 'Satish'])

In [34]:
type(keys)

dict_keys

- dict_keys is a type of keys represented in a list
- it look like list but not list
- we cannot use list methods here
- for that we need to convert dict_keys to list

In [35]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=d.keys()
list(keys)

['Ramesh', 'Suresh', 'Satish']

In [36]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
values=d.values()
list(values)

[20, 30, 40]

In [37]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])
keys,values
#######################################################################
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=[key for key in d]
values=[d[key]for key in d]
#######################################################################
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=list(d.keys())
values=list(d.values())

In [ ]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
#d = {'ramesh': '20', 'Suresh': '30', 'Satish': '40'}

In [41]:
[i.lower() for i in list(d.keys())]
[str(i) for i in list(d.values())]
{key:value for key,value in zip(keys,values)}

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

## Get Method

In [43]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.get('Ramesh')

20

In [44]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.get('Sam')

In [45]:
d['Ram']

KeyError: 'Ram'

In [ ]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.get('Ramesh') #ans
d.get('r') #no error no ans
########################
d['Ramesh'] #normal way
d['r'] #error

**Update**

In [48]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d1={'fruits':'Apple'}
d.update(d1)
d

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40, 'fruits': 'Apple'}

In [55]:
d.update(Apple=200)
d

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40, 'fruits': 'Apple', 'Apple': 200}

In [57]:
t=(200,'marks')
l=[t]
d.update([(200,'marks')])
d

{'Ramesh': 20,
 'Suresh': 30,
 'Satish': 40,
 'fruits': 'Apple',
 'Apple': 200,
 200: 'marks'}

- concatenate of two dictionary
- but we can combine

In [58]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d1={'fruits':'Apple'}
d.update(d1)
d.update(Apple=200)
d.update([(200,'marks')])

**pop-popitem**

In [59]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.pop('Ramesh')
d

{'Suresh': 30, 'Satish': 40}

In [60]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.pop('r')
d

KeyError: 'r'

In [62]:
l=[100,200,333,444,555]
l.pop(0) #in list it is expecting index
l

[200, 333, 444, 555]

In [63]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.popitem()

('Satish', 40)

In [64]:
d

{'Ramesh': 20, 'Suresh': 30}

- pop will expect a key, corresponding value will be removed
    - pop will return the **value which is removing**
- pop item has no arguement, last key-value pair will be removed
    - pop item return last **key-value pair**

**del**

In [66]:
l=[100,200,300,400]
del l[0]
l

[200, 300, 400]

In [67]:
l=[100,200,300,400]
del l # l is gone here
l

NameError: name 'l' is not defined

In [68]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
del d['Ramesh']
d

{'Suresh': 30, 'Satish': 40}

In [69]:
d = {'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
del d
d

NameError: name 'd' is not defined

- count in strings also in list
- index in strings also in list
- find in string but not in list
- pop in list also in dictionary
- remove in list but in dictionary pop item
- concatination in list === extend in list
- access value using key in dict ===== get method
- del for list and dictionary
- sorted ans reversed for all